#section-general {
    margin: 0 auto;
    overflow: auto;
    height: 70%;
    width: 50%;
    margin-left: 37%;
}

#subt{
    margin-left: 30%;
}

#span-nombre,
#span-id,
#span-proyecto,
#span-destinatario,
#span-movilidades,
#span-pais,
#span-fecha-inicio,
#span-fecha-fin,
#span-fecha-inicio-pruebas,
#span-fecha-fin-pruebas,
#span-fecha-provisional,
#span-definitivo,
#span-baremo {
    display: block;
    margin-top: 10px;
    margin-left: 5%;
}

#txtNombre,
#txt-id,
#select-proyecto,
#tabla-destinatario,
#txt-movilidades,
#txt-pais,
#fecha-inicio,
#fecha-fin,
#fecha-inicio-pruebas,
#fecha-fin-pruebas,
#fecha-provisional,
#fecha-definitivo,
#tabla-baremo {
    width: 87%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 5%;
}

#select-proyecto,
#tabla-baremo,
#tabla-destinatario {
    margin-top: 15px;
}

#tabla-destinatario, #tabla-baremo, #tabla-idioma {
    width: 95%;
    border-collapse: collapse;
}

#tabla-destinatario, #tabla-baremo,#tabla-idioma, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

#crea,
#actualiza,
#mostrar
{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

#crea:hover,
#actualiza:hover,
#mostrar:hover{
    background-color: #45a049;
}

#botones{
    margin-left: 56%;
    margin-top: 2%;
}

#section-general{
    background-color: #ddd;
}

#logout{
    position: absolute;
    top: 1%;
    right: 0%;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
}
#tabla-idioma{
    display: none;
    margin-left: 34%;
    margin-top: 7%;
    border: none;
}
#titulo{
    margin-left: 47%;
}
#crud{
    overflow: auto;
    height: 100%;
}
#subt{
    margin-left: 42%;
}

#tablaConvocatorias{
    margin-left: 33%;
    margin-top: 7%;
    width: 60%;
    overflow: auto;
}

#tablaConvocatorias thead tr th{
    background-color: gray;
}

#tablaConvocatorias tbody tr td{
    background-color: white;
    text-align: center;
}
.conv{
    padding: 10px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

#titulo-ev{
    margin-left: 45%;
}
#tituloconv{
    margin-left: 40%;
}