#contenedor-login{
    background-color: #f9f9f5;
    height: 110%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#contenido-login{
    background-color: #ebebe7;
    margin-top: 70%;
    border: 3px solid black;
    border-radius: 3%;
    width: 162%;
    height: 40%;
    margin-left: -30%;
}

.elementos{
    display: flex;
    margin-top: 10%;
    margin-left: 20%;
}

#linkForgotPassword-login{
    margin-top: 10%;
    text-align: center;
}

#btns-Login{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 13%;
}

#contenedor-dni-login{
    gap: 25%;
}

#contenedor-contraseña-login{
    gap: 3%;
}

#btns-Login input[type="submit"] {
    background-color: #4caf50; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
}


#btns-Login input[type="submit"]:hover {
    background-color: #45a049; 
}

#btns-Login input[type="submit"] + input[type="submit"] {
    margin-left: 20px;
}

#lblContraseña-login{
    margin-right: 2%;
}